//Help: http://lesscss.org/features/

@import './nav.less';
@import './common.less';

//@color-main: #446eb2;
//@color-main: #f9f9f9;
@back-light: white;
@back-dark: #323230;
@header-dark: #014D5A;
@header-light: #6B8999;
@border: #87532E;

::-webkit-scrollbar {
    display: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: @back-light;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
}

#gallery {    
    width:90%;
    .center.rel();
    text-align: center;
    
    img {
        height: 500px;
        width: 500px;
        padding: 10px;
        object-fit: cover;
    }
}

.info {
    text-align: center;
    .center.rel();
    width: 30%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding-bottom: 5%;

    .title {
        font-size: 2.25em;
        word-spacing: 1px;
        color: @header-light;
    }

    .sub {
    }

    .message {
        text-wrap: normal;
        font-size: 1.25em;
        line-height: 1.5;
    }
}

//@link-color: rgba(255, 255, 255, 0.90);

button {
    &:focus {
        outline: none;
    }
}

a {
    color: @back-light; //@color-main;
    text-decoration: none;

    :active {
        color: none;
    }

    &:hover {
        color: darken(@back-light, 20%);
    }
}

/*.btn {
    color: @color-main;
    background: transparent;
    border: 2px solid @color-main;
    border-radius: 6px;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Lato;

    &:hover {
        background-color: @color-main;
        color: white;
    }
}*/
