//Help: http://lesscss.org/features/

@import './colors.less';
@import './common.less';
@import './defaults.less';

@import './nav.less';
@import './home.less';
@import './projects.less';
@import './gallery.less';

@import './button.less';

#desktop() {
    /*.set-mixin(@mixin, @default, @desktop) {
       .@{mixin}(@default);

        @media only screen and (min-width: 768px) {
            .@{mixin}(@desktop);
        }
    }*/    
    
    .set-prop(@prop, @default, @desktop) {
        @{prop}: @default;

        @media only screen and (min-width: 768px) {
            @{prop}: @desktop;
        }
    }

    .set-rules(@rules) {
        @media only screen and (min-width: 768px) {
            @rules();
        }
    }
}

a {
    :active {
        color: none;
    }

    &:hover {
        color: darken(@colors[back-light], 20%);
    }

    text-decoration: none;
    color: @colors[back-light];
}