//Help: http://lesscss.org/features/

@import './nav.less';
@import './common.less';
@import './button.less';

//@color-main: #446eb2;
//@color-main: #f9f9f9;
@back-light: white;
@back-dark: #323230;
@header-dark: #014D5A;
@header-light: #6B8999;
@border: #87532E;

::-webkit-scrollbar {
    display: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: @back-light;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
}

#gallery {    
    width:90%;
    .center.rel();
    text-align: center;
    
    @size-img: 250px;
    img {
        height: @size-img;
        width: @size-img;
        padding: 10px;
        object-fit: cover;
    }
}


.info {
    width: 70%;
    text-align: center;
    .center.rel();
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding-bottom: 5%;

    .title {
        font-size: 1.5em;
        word-spacing: 1px;
        color: @header-light;
    }

    .sub {
    }

    .message {
        font-size: 1em;
        text-wrap: normal;
        line-height: 1.5;
    }
}

nav {
    .routes {
        display: none;
    }

    .mobilenav {
        display: block;
    }
}

@media only screen and (min-width: 768px) {

    nav {
        .routes {
            display: inline-block;
        }

        .mobilenav {
            display: none;
        }
    }

    .sidebar {
        display: none !important;
    }

    #gallery {
        img {
            height: 500px;
            width: 500px;
        }
    }


    .info {
        width: 30%;

        .title {
            font-size: 2.25em;
            word-spacing: 1px;
        }

        .sub {
        }

        .message {
            font-size: 1.25em;
        }
    }
    
}
//@link-color: rgba(255, 255, 255, 0.90);



a {
    color: @back-light; //@color-main;
    text-decoration: none;

    :active {
        color: none;
    }

    &:hover {
        color: darken(@back-light, 20%);
    }
}