.bootstrap-styles {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: white;

    @import '../node_modules/bootstrap/scss/bootstrap.scss';
}

@media (min-width: 320px) {
    .max-width {
        max-width: 315px;
    }
}

@media (min-width: 576px) {
    .max-width {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .max-width {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .max-width {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .max-width {
        max-width: 1140px;
    }
}